{% extends "layouts/header.html"%}

{% load crispy_forms_tags %}

{% block content %}

    {% load static %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Candidatos</title>

        <link href = "{% static 'styles/votingSheet/voting_sheet_fill.css' %}" rel = "stylesheet">

    </head>
    <body>

        <h1 id="title">Registro de Candidatos</h1>

        <form method="POST" id="sheet_fill_form">

            <div class="form-elements">

                <div id="form-item">
                    <label for="candidateName">Nombre de la Eleccion*</label>
                    {{ form.candidateName }}
                </div>

                <div id="form-item">
                    <label for="substituteCandidateName">Nombre de la Eleccion*</label>
                    {{ form.substituteCandidateName }}
                </div>

                <div id="form-item">
                    <label for="candidateParty">Nombre de la Eleccion*</label>
                    {{ form.candidateParty }}
                </div>

            </div>

        </form>


    </body>
    </html>

{% endblock %}