{% extends "layouts/base.html"%}

{% block content %}

    {% load static %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Empadronamiento</title>

        <link href = "{% static 'styles/form.css' %}" rel = "stylesheet">
        <link href = "{% static 'styles/icons/fonts.css' %}" rel = "stylesheet">

    </head>
    <body>

        <title>EMPADRONAMIENTO</title>

        <h1>Empadronamiento de Usuarios</h1>
        
    </body>
    </html>

{% endblock %}