{% extends "layouts/header.html"%}

{% load crispy_forms_tags %}

{% block content %}

    {% load static %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Empadronamiento</title>

        <link href = "{% static 'styles/form.css' %}" rel = "stylesheet">
        <link href = "{% static 'styles/icons/fonts.css' %}" rel = "stylesheet">

    </head>
    <body>

        <title>{{title}}</title>

        <h1 id="title">Bienvenido de Nuevo {{user.first_name}}</h1>

        <form method="POST" id="reg_form" data-towns-url="{% url 'ajax_load_towns' %}" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="form-elements">

                <div id="form-item">
                    <label for="cic">CIC*</label>
                    {{ form.cic }}
                </div>
                
                <div id="form-item">
                    <label for="curp">CURP*</label>
                    {{ form.curp }}
                </div>

                <div id="form-item">
                    <label for="name">Nombre*</label>
                    {{ form.name }}
                </div>

                <div id="form-item">
                    <label for="lastName">Apellido Paterno*</label>
                    {{ form.lastName }}
                </div>

                <div id="form-item">
                    <label for="secondLastName">Apellido Materno*</label>
                    {{ form.momLastName }}
                </div>

                <div id="form-item">
                    <label for="birthDate">Fecha de Nacimiento*</label>
                    {{ form.birthDate }}
                </div>

                <div id="form-item">
                    <label for="email">Correo Electrónico*</label>
                    {{ form.mail }}
                </div>

                <div id="form-item">
                    <label for="phoneNumber">Teléfono*</label>
                    {{ form.phoneNumber }}
                </div>

                <div id="form-item">
                    <label for="postalCode">Código Postal*</label>
                    {{ form.postalCode }}
                </div>

                <div id="form-item">
                    <label for="state">Estado*</label>
                    {{ form.state }}
                </div>

                <div id="form-item">
                    <label for="town">Municipio*</label>
                    {{ form.town }}
                </div>

                <div id="form-item">
                    <label for="gender">Genero*</label>
                    {{ form.gender }}
                </div>

                <div id="form-item">
                    <label for="secQuestion1">Pregunta de Seguridad 1*</label>
                    {{ form.secQuestion1 }}
                </div>

                <div id="form-item">
                    <label for="secAns1">Respuesta a Pregunta de Seguridad 1*</label>
                    {{ form.secAns1 }}
                </div>

                <div id="form-item">
                    <label for="secQuestion2">Pregunta de Seguridad 2*</label>
                    {{ form.secQuestion2 }}
                </div>

                <div id="form-item">
                    <label for="secAns2">Respuesta a Pregunta de Seguridad 2*</label>
                    {{ form.secAns2 }}
                </div>

                <div id="form-item">
                    <label for="secQuestion3">Pregunta de Seguridad 3*</label>
                    {{ form.secQuestion3 }}
                </div>

                <div id="form-item">
                    <label for="secAns3">Respuesta a Pregunta de Seguridad 3*</label>
                    {{ form.secAns3 }}
                </div>

                <div id="form-item">
                    <label for="faceImage1">Imagen Rostro Numero 1*</label>
                    {{ form.faceImage1 }}
                </div>

                <div id="form-item">
                    <label for="faceImage2">Imagen Rostro Numero 2*</label>
                    {{ form.faceImage2 }}
                </div>

                <div id="form-item">
                    <label for="faceImage3">Imagen Rostro Numero 3*</label>                    
                    {{ form.faceImage3 }}
                </div>

                <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                <script>
                    $("#id_state").change(function () {
                    var url = $("#reg_form").attr("data-towns-url");  // get the url of the `load_cities` view
                    var stateId = $(this).val();  // get the selected country ID from the HTML input

                    $.ajax({                       // initialize an AJAX request
                        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                        data: {
                        'state': stateId       // add the country id to the GET parameters
                        },
                        success: function (data) {   // `data` is the return of the `load_cities` view function
                        $("#id_town").html(data);  // replace the contents of the city input with the data that came from the server
                        }
                    });

                    });
                </script>


            
            <button class="btn btn-warning">Guardar</button>

        </form>

        <button type="button" class="btn btn-danger">
            <a href="{% url 'logout' %}">Cerrar Sesion</a>
        </button>
        
    </body>
    </html>

{% endblock %}